html,
body {
    height: 100%;
    font-family:"Exo 2", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-weight: 900;
    color: #141301;
    font-size: 34px;
}

h2 {
    font-weight: 400;
    color: #141301;
    font-size: 24px;
}

p {
    font-weight: 400;
    color: #141301;
    font-size: 18px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    padding: 20px;
    background-color: #E5E7E6;

}

.flex-item {
    color: #000000;
    text-align: left;
}