body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
  }
  
  header {
    text-align: left;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
  }
  
  .horizontal-line {
    border-bottom: 2px solid black;
    margin-top: 5px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon-container a:not(:last-child) {
    margin-right: 20px;
  }
  
  /* Add padding to the left of the icons */
  .icon-container a {
    padding-left: 2px;
  }
  